<header class="d-flex justify-content-center align-items-center px-2 px-xl-0 py-2 py-lg-0">
  <nav class="d-block d-sm-flex justify-content-between align-items-center text-center">
    <a href="/">
      <img class="logo" [src]="logo" width="100px" alt="" />
    </a>

    <div class="d-flex align-items-center justify-content-center text-center">
      <div class="d-none d-lg-block">
        <ul class="nav nav-pills">
          <li class="nav-item" *ngFor="let opcion of iconos">
            <a href="#" class="nav-link text-center" aria-current="page">
              <img class="icon" [src]="getDatosIcono(opcion.Nombre, 1)" [alt]="getDatosIcono(opcion.Nombre, 2)" />
              <p>{{ opcion.Texto }}</p>
            </a>
          </li>
        </ul>
      </div>
      <hr class="vertical d-none d-lg-block" />
      <div class="ms-3 py-2 py-sm-0 text-center">
        <button type="button" class="btn btn-light rounded-pill px-4 py-2 me-2">Unirse ahora</button>
        <button type="button" class="btn btn-outline-primary rounded-pill px-4 py-2">Inicia sesión</button>
      </div>
    </div>
  </nav>
</header>
