<h1 class="my-3">Productos</h1>
<div class="col text-end">
  <a routerLink="./nuevo" class="btn btn-success mb-2"><i class="fa-solid fa-plus"></i> Añadir</a>
  <ag-grid-angular
    style="width: 100%; height: 100%"
    class="ag-theme-alpine text-start"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    [frameworkComponents]="frameworkComponents"
    [pagination]="true"
    [paginationPageSize]="10"
    (cellClicked)="onCellClicked($event)"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
