.carousel-item > * {
    height: 100vh;
}

.carousel-item {
    width: 100%;
    overflow: hidden;
}

section {
    height: 100vh;
    /* background-color: aqua; */
}

.overlay-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.5);  Color y opacidad del fondo */
  }

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content {
    position: absolute;
    color: black;
}

.car-1 {
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.img-car-1 {
    width: 100%;
    height: auto;
}

.car-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.car-3 {
    top: 50%;
    left: 80%;
    transform: translate(-80%, -50%);
}

@media screen and (max-width: 900) {
    .img-car-1 {
        object-position: left;
    }
  }
  
  /* Estilos para pantallas medianas y grandes (por ejemplo, tabletas y escritorios) */
  @media screen and (min-width: 768px) {
    /* Estilos específicos para pantallas con un ancho mínimo de 768px */
  }
  
  /* Estilos para pantallas grandes (por ejemplo, pantallas de escritorio) */
  @media screen and (min-width: 1024px) {
    /* Estilos específicos para pantallas con un ancho mínimo de 1024px */
  }

.categorias {
    background-color: #f8f9fa;
}

.categorias img {
    height: 85vh;
    transition: filter 0.3s ease;
    transition: transform 0.3s ease;
    transform-origin: center center; /* Centra el punto de transformación */
    width: 100%; /* Ajusta el tamaño de la imagen al 100% del contenedor */
}

.tarjeta {
    font-size: 4rem;
    overflow: hidden;
}

.tarjeta:hover img {
    transform: scale(1.02); /* Valor de zoom al hacer hover */
  }
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); /* Color y opacidad del fondo */
    transition: background-color 0.3s ease;
  }
  
.tarjeta:hover .overlay {
    background-color: rgba(255, 255, 255, 0.2); /* Color y opacidad del fondo al hacer hover */
}

.products-selection {
    max-width: 87vw;
}

/*  */

.tarjeta-producto {
    margin-top: 25px;
    position: relative;
    font-size: 1rem;
    overflow: hidden;
  }
  
  .tarjeta-producto > div {
    position: absolute;
    bottom: -12%; /* Posición inicial debajo del contenedor */
    left: 0;
    width: 100%;
    height: 12%;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: bottom 0.3s ease; /* Animación de aparición */
  }
  
  .tarjeta-producto:hover > div {
    bottom: 0%; /* Muestra el div al subir hasta la posición deseada */
  }
  
  .tarjeta-producto > div span {
    display: block;
  }