<section
  id="carouselExampleInterval"
  class="carousel slide"
  data-interval="5000"
  data-bs-ride="carousel"
  data-bs-theme="dark">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="position-relative">
        <div class="image-container">
          <img
            class="bd-placeholder-img bd-placeholder-img-lg d-block h-100 img-car-1"
            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/photo/home-1-plain.jpg"
            aria-label="Placeholder: First slide"
            preserveAspectRatio="xMidYMid slice"
            focusable="false" />
        </div>
        <div class="overlay-carousel"></div>
        <div class="content car-1">
          <p class="subtitle letter-spacing-3 mb-3 text-dark font-weight-light">Our all-time favourites</p>
          <h2 class="display-1 mb-3" style="line-height: 1">Blouses &amp; Tops</h2>
          <p class="text-muted mb-5">
            The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pit
          </p>
          <a class="btn btn-dark" href="#">Discover more</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="position-relative">
        <img
          class="bd-placeholder-img bd-placeholder-img-lg d-block h-100"
          src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/photo/home-2-plain.jpg"
          aria-label="Placeholder: Second slide"
          preserveAspectRatio="xMidYMid slice"
          focusable="false" />
        <div class="overlay-carousel"></div>
        <div class="content car-2 text-center">
          <p class="subtitle letter-spacing-3 mb-3 text-dark font-weight-light">Blue &amp; White</p>
          <h2 class="display-1 mb-3" style="line-height: 1">Linen and denim</h2>
          <a class="btn btn-dark" href="#">Start shopping</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="position-relative">
        <img
          class="bd-placeholder-img bd-placeholder-img-lg d-block h-100"
          src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/photo/home-3-plain.jpg"
          aria-label="Placeholder: Third slide"
          preserveAspectRatio="xMidYMid slice"
          focusable="false" />
        <div class="overlay-carousel"></div>
        <div class="content car-3">
          <p class="subtitle letter-spacing-3 mb-3 text-primary font-weight-light mb-4">Sneakers</p>
          <h2 class="display-1 mb-5" style="line-height: 1">For every occassion</h2>
          <a class="btn btn-dark" href="#">Start shopping</a>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev d-none d-lg-block"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next d-none d-lg-block"
    type="button"
    data-bs-target="#carouselExampleInterval"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</section>

<!-- ##################################### -->

<section class="d-flex justify-content-center align-items-center categorias gap-4">
  <div class="position-relative tarjeta">
    <img src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-women.jpg" alt="" />
    <span class="position-absolute top-50 start-50 translate-middle text-white fw-bold">Women</span>
    <div class="overlay"></div>
    <a href="google.es" class="stretched-link"></a>
  </div>
  <div class="position-relative tarjeta">
    <img src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-men.jpg" alt="" />
    <span class="position-absolute top-50 start-50 translate-middle text-white fw-bold">Men</span>
    <div class="overlay"></div>
    <a href="google.es" class="stretched-link"></a>
  </div>
</section>

<!--  -->
<div class="container-fluid container-fluid-px py-5 products-selection">
  <div class="row">
    <div class="col-lg-10 col-xl-8 text-center mx-auto">
      <h2 class="display-3 mb-5">New Arrivals</h2>
      <p class="lead text-muted mb-6">
        One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a
        horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown
        belly, slightly domed and divided by arches into stiff sections
      </p>
    </div>
  </div>
  <div class="row justify-content-between align-items-center mb-4">
    <div class="col-12 col-sm">
      <ul class="list-inline text-center text-sm-start mb-3 mb-sm-0">
        <li class="list-inline-item"><a class="text-dark" href="#">All Products </a></li>
        <li class="list-inline-item"><a class="text-muted text-dark-hover" href="#">Clothing </a></li>
        <li class="list-inline-item"><a class="text-muted text-dark-hover" href="#">Bags</a></li>
        <li class="list-inline-item"><a class="text-muted text-dark-hover" href="#">Shoes</a></li>
        <li class="list-inline-item"><a class="text-muted text-dark-hover" href="#">Accessories</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-auto text-center"><a class="btn btn-link px-0" href="#">All products</a></div>
  </div>
  <section>
    <div class="row justify-content-left align-items-center my-5 px-0">
      <div class="col-6 col-md-4 col-lg-2">
        <div
          class="position-relative tarjeta-producto"
          style="overflow: hidden; display: block; max-width: 100%; height: auto">
          <img
            src="https://images.unsplash.com/photo-1684444161166-7128f0f3db08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=688&q=80"
            alt=""
            class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="position-relative tarjeta-producto">
          <img [src]="image" alt="" class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="position-relative tarjeta-producto">
          <img
            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-women.jpg"
            alt=""
            class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="position-relative tarjeta-producto">
          <img
            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-women.jpg"
            alt=""
            class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="position-relative tarjeta-producto">
          <img
            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-women.jpg"
            alt=""
            class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="position-relative tarjeta-producto">
          <img
            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-women.jpg"
            alt=""
            class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="position-relative tarjeta-producto">
          <img
            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-women.jpg"
            alt=""
            class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="position-relative tarjeta-producto">
          <img
            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-women.jpg"
            alt=""
            class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="position-relative tarjeta-producto">
          <img
            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-women.jpg"
            alt=""
            class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="position-relative tarjeta-producto">
          <img
            src="https://d19m59y37dris4.cloudfront.net/varkala/2-1/img/product/category-women.jpg"
            alt=""
            class="img-fluid" />
          <div
            class="position-absolute text-white fw-bold bg-primary d-flex justify-content-between align-items-center px-3">
            <span>Texto 1</span>
            <span>Texto 2</span>
          </div>

          <div class="overlay"></div>
          <a href="google.es" class="stretched-link"></a>
        </div>
      </div>
      <!-- Repite el div de col para un total de 10 tarjetas -->
    </div>
  </section>
</div>
