<main class="container h-100 w-100 mt-5">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="row">
        <section id="carouselExampleCaptions" class="carousel slide" data-bs-theme="dark" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 h-100"
                [src]="primeraFoto?.ImagenUrl"
                aria-label="Placeholder: First slide"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                style="object-fit: contain; aspect-ratio: 1" />
            </div>
            <div class="carousel-item" *ngFor="let foto of otrasFotos">
              <img
                class="bd-placeholder-img bd-placeholder-img-lg d-block w-100 h-100"
                [src]="foto?.ImagenUrl"
                aria-label="Placeholder: First slide"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                style="object-fit: contain; aspect-ratio: 1" />
            </div>
          </div>
          <button
            *ngIf="numFotos > 1"
            class="carousel-control-prev h-100"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            *ngIf="numFotos > 1"
            class="carousel-control-next h-100"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </section>
      </div>
      <div class="row d-none d-lg-block" *ngIf="numFotos > 1">
        <div class="mt-2">
          <div class="d-flex">
            <img
              *ngFor="let foto of producto.Fotos; let i = index"
              [src]="foto?.ImagenUrl"
              alt="Indicador {{ i + 1 }}"
              data-bs-target="#carouselExampleCaptions"
              [attr.data-bs-slide-to]="i"
              [class.active]="i === 0"
              class="me-2"
              style="width: 100px; height: 100px; object-fit: contain; background-color: #e4e4e441" />
          </div>
        </div>
      </div>
    </div>

    <section class="col-12 col-lg-6">
      <h1 class="mb-4">{{ producto.Nombre }}</h1>
      <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between mb-4">
        <ul class="list-inline mb-2 mb-lg-0">
          <li class="list-inline-item h4 fw-light mb-0">{{ producto.Precio }}€</li>
          <li class="list-inline-item text-muted fw-light" *ngIf="producto.Oferta">
            <del>{{ producto.PrecioAnterior }}€</del>
          </li>
        </ul>
      </div>
      <p class="mb-4 text-muted">
        Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an
        illustrated magazine and housed in a nice, gilded frame.
      </p>
      <form id="buyForm" action="#">
        <div class="row">
          <div class="col-lg-6 col-lg-12 detail-option mb-4">
            <h6 class="detail-option-heading">Talla / Tipo <span>(*)</span></h6>
            <select class="selectpicker" name="size" data-style="btn-selectpicker">
              <option [value]="variante.Id" *ngFor="let variante of producto.Variantes">
                {{ variante.Descripcion }}
              </option>
            </select>
          </div>
          <!-- <div class="col-lg-6 col-lg-12 detail-option mb-5">
            <h6 class="detail-option-heading">Type <span>(required)</span></h6>
            <label class="btn btn-lg btn-outline-primary detail-option-btn-label" for="material_0">
              Hoodie
              <input class="input-invisible" type="radio" name="material" value="value_0" id="material_0" required />
            </label>
            <label class="btn btn-lg btn-outline-primary detail-option-btn-label" for="material_1">
              College
              <input class="input-invisible" type="radio" name="material" value="value_1" id="material_1" required />
            </label>
          </div> -->
        </div>
        <div class="input-group w-100 mb-4">
          <input class="form-control form-control-lg detail-quantity" name="items" type="number" value="1" />
          <div class="flex-grow-1">
            <div class="d-grid h-100">
              <button class="btn btn-dark" type="submit"><i class="fa fa-shopping-cart me-2"></i>Add to Cart</button>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-6">
            <a href="#"> <i class="far fa-heart me-2"></i>Add to wishlist </a>
          </div>
          <div class="col-6 text-end">
            <ul class="list-inli ne mb-0">
              <li class="list-inline-item me-2">
                <a class="text-dark text-primary-hover" href="#"><i class="fab fa-facebook-f"> </i></a>
              </li>
              <li class="list-inline-item">
                <a class="text-dark text-primary-hover" href="#"><i class="fab fa-twitter"> </i></a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="list-unstyled">
          <li><strong>Category:</strong> <a class="text-muted" href="#">Jeans</a></li>
          <li>
            <strong>Tags:</strong> <a class="text-muted" href="#">Leisure</a>,
            <a class="text-muted" href="#">Elegant</a>
          </li>
        </ul>
      </form>
    </section>
    <div [innerHTML]="producto.Descripcion" class="mt-5"></div>
  </div>
</main>
